<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style2.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
{% for message in messages %}
<div class="message-container">
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <span><strong>Message:</strong> {{ message }}</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
{% endfor %}


    <div class="form-container">
        <h3 class="form-title">Login</h3>
        <form action="/login" method="post" class="form">
        {% csrf_token %}
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" id="username" placeholder="Enter your username" required class="form-input">
            <br>
            <br>
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter your password" required class="form-input">
            <br>
            <br>
            <button type="submit" class="form-btn">Login</button>
        </form>
        <br>
        <button onclick="window.location.href='{% url 'home' %}'" class="back-btn">Back to Home</button>
    </div>
</body>
</html>
