<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Predict Cryptocurrency Price</title>
</head>
<body>
    <h1>Predict Cryptocurrency Price</h1>
    <form method="POST" action="{% url 'predict' %}">
        {% csrf_token %}
        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" name="start_date" required>
        <br>
        <label for="end_date">End Date:</label>
        <input type="date" id="end_date" name="end_date" required>
        <br>
        <button type="submit">Predict</button>
         <button onclick="window.location.href='{% url 'home' %}'" class="back-btn">Back to Home</button>
    </form>
</body>
</html>
